.App {
  display: flex;
  background-color: #f2f2f2;
}

.GridColumn {
  width: 100%;
  padding: 20px;
}

.Container {
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0,0,0,.12), 0 2px 4px rgba(0,0,0,.24);
}
